/build/
/picohost
/link-settings.conf
/link-settings.conf.tmp
/obs-mappings.json

/vmix-mappings.json
*.credentials.json
*.credentials.json.tmp-*

/atem-mappings.json

/build-*/
/.venv/
__pycache__/
*.serial.log
/analog-calibration*.conf
/obs-mappings*.json
/*.server2
/*.server3
/settings.json
